<app-header />

<main>
  <ul id="users">
    <!-- @for(user of users;track user.id){ -->
      <li *ngFor=" let user of users">
        <app-user [user]="user" (select)="onSelectUser($event)"/>
      </li>
    <!-- } -->
  </ul>
    
  
    <!-- @if (SelectedUser)
    { -->
      <app-tasks *ngIf="SelectedUser; else fallback" [name]="SelectedUser!.name"></app-tasks>
    <!-- }
    @else{ -->
      <ng-template #fallback>
        <p id="fallback">Select the User to see their Tasks</p>
      </ng-template>
      
    <!-- } -->
   
  
</main>
